*::-webkit-scrollbar{
    display: none;
}

canvas{
    opacity: 0.5;
    max-width: 100px;
    max-height: 10vw;
}

#QMmenu {
    font:25px helvetica;
    font-weight: 300;
    position: fixed;
    top: 100px;
    right: 120px;
    z-index:9999;
    opacity: 0.8;
    border-radius: 40px;
}

.QMmenu img{
    width: 100%;
    object-fit: cover;
}

.QMmenu-toggler {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 25px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.QMmenu-toggler+label,
.QMmenu-toggler+label:before,
.QMmenu-toggler+label:after {
    opacity: 0.66;
    transition: all 0.2s ease;
}

.QMmenu-toggler:checked+label {
    background: transparent;
}

.QMmenu-toggler:checked+label:before,
.QMmenu-toggler:checked+label:after {
    top: 0;
    width: 25px;
    transform-origin: 50% 50%;
}

.QMmenu-toggler:checked+label:before {transform: rotate(45deg)}
.QMmenu-toggler:checked+label:after {transform: rotate(-45deg)}

.QMmenu-toggler:checked~ul .QMmenu-item {opacity: 1;cursor: pointer;}

.QMmenu-toggler:checked~ul .QMmenu-item:nth-child(1) {transform: rotate(0deg) translateX(-60px)}
.QMmenu-toggler:checked~ul .QMmenu-item:nth-child(2) {transform: rotate(60deg) translateX(-60px)}
.QMmenu-toggler:checked~ul .QMmenu-item:nth-child(3) {transform: rotate(120deg) translateX(-60px)}
.QMmenu-toggler:checked~ul .QMmenu-item:nth-child(4) {transform: rotate(180deg) translateX(-60px)}
.QMmenu-toggler:checked~ul .QMmenu-item:nth-child(5) {transform: rotate(240deg) translateX(-60px)}
.QMmenu-toggler:checked~ul .QMmenu-item:nth-child(6) {transform: rotate(300deg) translateX(-60px)}

.QMmenu-toggler:checked~ul .QMmenu-item .a {pointer-events: auto}

.QMmenu-toggler+label, 
.QMmenu-toggler+label:before,
.QMmenu-toggler+label:after{
    width: 30px;
    height: 3px;
    display: block;
    z-index: 1;
    transition: all 0.2s, top 0.2s;
    position: absolute;
    background: #000;
    left: 0;
    content: "";
}

.QMmenu-toggler+label {
    top: 0;
    left: 12px;
    bottom: 0;
    margin: auto;
}

.QMmenu-toggler:hover+label{
    transform: translateX(6px);
    width: 15px;
}

.QMmenu-toggler:hover+label:before,
.QMmenu-toggler:hover+label:after{
    transform: translateX(-6px);
}

.QMmenu-toggler+label:before {top: 10px}
.QMmenu-toggler+label:after {top: -10px}

.QMmenu-item:nth-child(1) .a {transform: rotate(0deg)}
.QMmenu-item:nth-child(2) .a {transform: rotate(-60deg)}
.QMmenu-item:nth-child(3) .a {transform: rotate(-120deg)}
.QMmenu-item:nth-child(4) .a {transform: rotate(-180deg)}
.QMmenu-item:nth-child(5) .a {transform: rotate(-240deg)}
.QMmenu-item:nth-child(6) .a {transform: rotate(-300deg)}

.QMmenu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    display: block;
    opacity: 0;
    transition: 0.5s;
}

.QMmenu-item .a {
    display: block;
    width: inherit;
    overflow:hidden;
    height: inherit;
    line-height: 50px;
    color: #fffb;
    background: #8888;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    pointer-events: none;
    transition: all 0.2s;
}

.QMmenu-item .a:hover {
    cursor: pointer;
    color: #fff;
    background: #666;
}