logs
*.log

*lock*.yaml
*lock*.yml

.DS_Store
thread.js

**/*.css.map
**/*.js.map

public/bundles
public/admin
public/helpers
public/video

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

config/