html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	margin: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	a{
		color: inherit;
		text-decoration: none;
	}
}

*::-webkit-scrollbar {
	display: none;
}

.box{
	height: calc(100px - 5px);
	border-radius: 10px;
	max-width: calc(250px - 20px);
	width: calc(250px - 20px);
	padding: 10px;
	margin: 0 7px;
	overflow: hidden;
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(25px);
	-moz-backdrop-filter: blur(25px);
	-ms-backdrop-filter: blur(25px);
	background: #222a;
}

@keyframes bobX {
	0% {transform: translateX(50vw);}
	50% {transform: translateX(-50vw);}
	100% {transform: translateX(50vw);}
}
@keyframes bobX_rev {
	0% {transform: translateX(-50vw);}
	50% {transform: translateX(50vw);}
	100% {transform: translateX(-50vw);}
}
@keyframes bobY {
	0% {transform: translateY(50vh);}
	50% {transform: translateY(-50vh);}
	100% {transform: translateY(50vh);}
}
@keyframes bobY_rev {
	0% {transform: translateY(-50vh);}
	50% {transform: translateY(50vh);}
	100% {transform: translateY(-50vh);}
}
.x {animation: bobX 13s infinite ease-in-out alternate;}
.x-rev {animation: bobX_rev 11s infinite ease-in-out alternate;}